@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:500,500i,600,600i|Barlow+Semi+Condensed:300i,400,500,500i,600,600i|Noto+Sans+JP:400,500,700');

html {
    overflow-y: scroll;
    font-size: 10px;
    height: 100%;
}

body, td, th {
    line-height: 1.8em;
    color: #111;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Barlow Semi Condensed', 'Noto Sans JP', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', sans-serif;
    padding: 78px 0 0 0;
    letter-spacing: 0.05em;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
}

p, ul, ol {
    padding: 0;
    margin: 0;
    text-align: justify;
}

.cl:after {
    content: "";
    clear: both;
    display: block;
}

.soon {
    opacity: 0.2;
}

.none {
    display: none;
}

div {
    padding: 0;
    margin: 0;
    line-height: 1em;;
}

img {
    border: 0;
    border-style: none;
    width: 100%;
    -ms-interpolation-mode: bicubic;
    -webkit-interpolation-mode: bicubic;
}

a img:hover {
    opacity: 0.7;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

li {
    list-style-type: none;
}

a {
    cursor: pointer;
}

a:link {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}

a, a:hover {
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

::selection {
    background: #000;
    color: #fff;
}

::-moz-selection {
    background: #000;
    color: #fff;
}

.pc {
    display: block;
}

.sp {
    display: none;
}

.on_pc {
    display: block;
}

.on_sp {
    display: none;
}

.in, .in2 {
    padding: 0 5%;
    margin: auto;
    max-width: 1600px;
    position: relative;
}

.tr {
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

.tr04 {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.cl:after {
    content: "";
    clear: both;
    display: block;
}

/*スクロールのエフェクト*/
#contents {
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

/* 画面外にいる状態 */
.fi {
    opacity: 0;
    transform: translate(0, 40px);
    transition: all 1.5s;
}

.fi.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}

.fi2 {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: all 1s;
}

.fi2.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}

.fi3 {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: all 1.5s;
}

.fi3.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}

.cont_fade1 {
    opacity: 0 !important;
    -webkit-animation: fadeIn 2s ease 0.5s 1 forwards;
    animation: fadeIn 2s ease 0.5s 1 forwards;
}

/*共通tips*/
.bc {
    font-family: 'Barlow Condensed', sans-serif;
}

.po_re {
    position: relative;
}

.po_ab {
    position: absolute;
}

.f_w {
    color: #fff;
}

.f_rd {
    color: #e12632;
}

.f_p {
    color: #ff4665;
}

.f_mint {
    color: #5dbdcb;
}

.f13, .f14, .f15, .f16, .f17, .f18, .f19, .f20 {
    line-height: 1.75em;
}

.f13 {
    font-size: 1.3rem;
}

.f14 {
    font-size: 1.4rem;
}

.f15 {
    font-size: 1.5rem;
}

.f16 {
    font-size: 1.6rem;
}

.f17 {
    font-size: 1.7rem;
}

.f18 {
    font-size: 1.8rem;
}

.f19 {
    font-size: 1.9rem;
}

.f20 {
    font-size: 2rem;
}

.fw3 {
    font-weight: 300;
}

.fw5 {
    font-weight: 500;
}

.fw6 {
    font-weight: 600;
}

.ls007 {
    letter-spacing: 0.07em;
}

.ls01 {
    letter-spacing: 0.1em;
}

.ls015 {
    letter-spacing: 0.15em;
}

.ls02 {
    letter-spacing: 0.2em;
}

.f_it {
    font-style: italic;
}

.flx {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.shdimg {
    -webkit-filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
}

.shdimg2 {
    -webkit-filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.2));
}

.shdtx {
    text-shadow: 0 0 10px rgba(0, 0, 0, .9);
}

.w100 {
    width: 100%;
    display: block;
}

.ma3 {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.ma00 {
    border-radius: 800px;
    -webkit-border-radius: 800px;
    -moz-border-radius: 800px;
}

.bg_grd45 {
    background: -moz-linear-gradient(45deg, #ff693f, #bf1738);
    background: -webkit-linear-gradient(45deg, #ff693f, #bf1738);
    background: linear-gradient(45deg, #ff693f, #bf1738);
}

.bg_grd45_h {
    background: -moz-linear-gradient(45deg, #ffb49f, #df8b9b);
    background: -webkit-linear-gradient(45deg, #ffb49f, #df8b9b);
    background: linear-gradient(45deg, #ffb49f, #df8b9b);
}

.bg_grd45_b {
    background: -moz-linear-gradient(60deg, #111, #666);
    background: -webkit-linear-gradient(60deg, #111, #666);
    background: linear-gradient(60deg, #111, #666);
}

.bg_grd45_wmn {
    background: -moz-linear-gradient(60deg, #e0f1fb, #f5f0f0);
    background: -webkit-linear-gradient(60deg, #e0f1fb, #f5f0f0);
    background: linear-gradient(60deg, #e0f1fb, #f5f0f0);
}

.bg_w {
    background: #fff;
}

.bg_b {
    background: #111;
}

.bg_g009 {
    background: #e8e8e8;
}

.cover {
    background-size: cover;
    background-position: center;
}

.box {
    box-sizing: border-box;
}

/*header*/
.header {
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.smaller {
    padding: 14px 0;
}

.logo {
    width: 170px;
    float: left;
}

.smaller .logo {
    width: 100px;
}

.hd_nav {
    float: right;
}

.hd_mn {
    float: left;
    padding: 5px 0;
}

.hd_mn li {
    background: url(../images/naname_grd.png) right center/auto 100% no-repeat;
    float: left;
    padding: 0 25px 0 0;
    height: 20px;
    line-height: 20px;
    margin: 0 10px 0 0;
    font-size: 1.35rem;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.hd_mn li:last-child {
    background: none;
    margin: 0;
    padding: 0;
}

.hd_mail {
    height: 30px;
    float: left;
    margin: 0 0 0 25px;
    padding: 0 25px;
}

.hd_mail p {
    line-height: 30px;
    font-size: 1.4rem;
    padding: 0 0 0 25px;
    background: url(../images/icon_mail.png) left center/15px no-repeat;
}

/*cont共通*/
.cont_ttl {
    text-align: center;
    display: table;
    margin: 0 auto 4% auto;
    padding: 17px 0 0 0;
    font-size: 6rem;
    letter-spacing: 0.13em;
    line-height: 1em;
}

.cont_ttl span {
    font-size: 1.6rem;
    display: block;
    text-align: center;
    line-height: 1em;
    padding: 10px 0 0 0;
    font-style: normal;
}

.conttl_w {
    border-top: 8px solid #fff;
}

.conttl_b {
    border-top: 8px solid #111;
}

.cont_w {
    padding: 4% 0 5% 0;
}

/*banner*/
.banner {
    padding: 2% 0;
    background: url(../images/sha.png) center/5px repeat;
    text-align: center !important;
}

.banner img {
    max-width: 1100px;
}

/*main*/
.main {
    background: url(../images/main_bg.jpg) center/cover no-repeat;
    padding: 5% 0 15% 0;
}

.main_shape {
    height: 100%;
    width: auto;
    top: 0;
    left: 0;
    line-height: 0;
    z-index: 1;
}

.main_shape img {
    height: 100%;
    width: auto;
    line-height: 0;
}

.main_in {
    padding: 0 5%;
    display: table;
    z-index: 2;
    margin: auto;
}

.main_item {
    max-width: 400px;
    width: 28%;
    float: left;
}

.main_ttl {
    float: left;
    font-size: 11rem;
    line-height: 1em;
    margin: 0 0 0 -3%;
}

.main_ttl_jp {
    font-size: 2.2rem;
    display: block;
    font-style: normal;
    letter-spacing: -0.02em;
    line-height: 1.5em;
    background: url(../images/main_x.png) left center/ 70px no-repeat;
    padding: 25px 0 25px 90px;
}

.itr_w {
    padding: 0 0 20px 5%;
    margin: -10% 0 3.5% 0;
    z-index: 3;
}

.itr_box {
    background: #000;
}

.itr_box li {
    width: 33.333%;
    float: left;
}

.itrb_1 {
    padding: 5% 3%;
}

.itr_logo {
    margin: 0 0 20px 0;
}

.itr_logoimg {
    width: 42%;
    float: left;
    border-right: 1px solid #fff;
    margin: 0 6% 0 0;
    padding: 0 6% 0 0;
    max-width: 250px;
}

.itr_logotxt {
    width: 46%;
    display: table;
    vertical-align: middle;
    font-size: 1.8rem;
    line-height: inherit;
}

.itrb_bg {
    padding: 4%;
}

.itrb_2 {
    background: url(../images/main_itr_bg1.jpg) center/cover no-repeat;
}

.itrb_3 {
    background: url(../images/main_itr_bg2.jpg) center/cover no-repeat;
}

.itrb_ttl {
    text-align: center;
    font-size: 3.2rem;
    line-height: 1.1em;
    margin: 0 0 13px 0;
}

.itrb_ttl span {
    display: block;
    font-size: 0.7em;
    margin: 0 0 5px 0;
    text-align: center;
    line-height: 1em;
}

.itrb_txt2 {
    font-size: 1.5rem;
    line-height: 1.35em;
    text-align: center;
}

.point3 {
    padding: 0 0 7% 0;
}

.p3_ttl {
    font-size: 3.8rem;
    line-height: 1.35em;
    text-align: center;
    padding: 0 0 10px 0;
}

.p3_lead {
    line-height: 1.35em;
    text-align: center;
    margin: 0 0 3% 0;
}

.p3_box li {
    width: 31.6666%;
    float: left;
    margin: 0 2.5% 0 0;
    background: #fff;
}

.p3_box li:last-child {
    margin: 0;
}

.p3b_txtb {
    padding: 8% 7%;
}

.p3b_ttl {
    font-size: 2.1rem;
    line-height: 1.3em;
    margin: 0 0 20px 0;
}

.p3b_num {
    font-size: 6.6rem;
    line-height: 1em;
    top: -40px;
}

.p3b_img {
    height: 20vw;
}

.p3b_bg1 {
    background-image: url(../images/main_point1.jpg);
}

.p3b_bg2 {
    background-image: url(../images/main_point2.jpg);
}

.p3b_bg3 {
    background-image: url(../images/main_point3.jpg);
}

/*lineup*/
.lu_l, .lu_r {
    width: 50%;
    float: left;
}

.lu_l {
    padding: 0 0 0 2%;
}

.lu_r {
    padding: 0 2% 0 0;
}

.lu_l_img_1 {
    background: url(../images/linup_men.jpg) center/cover no-repeat;
    height: 18vw;
}

.lu_r_img_1 {
    background: url(../images/linup_women.jpg) center/cover no-repeat;
    height: 18vw;
}

.lu_txtb1 {
    max-width: 800px;
    float: right;
    margin: 0 0 0 5%;
    padding: 0 4% 0 0;
}

.lu_txtb2 {
    max-width: 800px;
    float: left;
    margin: 0 5% 0 0;
    padding: 0 0 0 4%;
}

.lu_txtbimg {
    float: left;
    width: 38%;
    margin: -15% 5% 0 0;
}

.lu_txtbtxt {
    float: left;
    width: 57%;
    margin: 25px 0 0 0;
}

.lu_txtb_men {
    font-size: 2.2rem;
    line-height: 1em;
    padding: 0 0 10px 0;
}

.lu_txtb_ttl {
    font-size: 2.2rem;
    line-height: 1.3em;
    margin: 0 0 15px 0;
}

/*scene*/
.scne_imgw {
    margin: 0 0 5px 0;
    padding: 0 0 3% 0;
}

.scne_box {
    border-left: 1px solid #e5e5e5;
}

.scne_box li {
    box-sizing: border-box;
    border-right: 1px solid #e5e5e5;
    width: 20%;
    float: left;
    padding: 0 2%;
}

.scne_b_ttlw {
}

.scne_b_ttl {
    font-size: 1.6rem;
    line-height: 1em;
    margin: 0 auto 25px auto;
    text-align: center;
}

.scne_b_ttl span {
    display: table;
    text-align: center;
    font-size: 2.8rem;
    line-height: 1em;
    padding: 0 0 8px 0;
    margin: 0 auto 8px auto;
    border-bottom: 1px solid #e12632;
}

/*why*/
.why_ttl {
    font-size: 6.2rem;
    text-align: center;
    display: table;
    margin: 0 auto 1% auto;
    z-index: 1;
    padding: 15px 0 15px 0;
    line-height: 1.4em;
}

.why_ttl_txt {
    background: url(../images/grd_h_bg.png) center bottom/ 100% 25px no-repeat;
}

.why_txt800 {
    max-width: 800px;
    margin: 0 auto 1% auto;
    padding: 0 0 15px 0;
}

.why_bgttl {
    font-size: 4rem;
    padding: 6% 0 4% 0;
    line-height: 1em;
}

.whbg1 {
    background: url(../images/why1.png) left center/auto 100% no-repeat;
}

.whbg2 {
    background: url(../images/why2.png) left center/auto 100% no-repeat;
}

.why_box {
    padding: 4% 2.5%;
    margin: -15px 0 2% 0;
}

.why_b1_main {
    padding: 0 0 2% 0;
}

.why_b1_main_r {
    width: 53%;
    margin: 0;
    float: left;
}

.why_b1_main_l {
    width: 43%;
    margin: 0 0 0 4%;
    float: left;
}

.why_b1_subttl {
    font-size: 1.9rem;
    line-height: 1em;
    margin: 0 0 7px 0;
}

.why_b1_sublead {
    font-size: 1.55rem;
    line-height: 1.35em;
    padding: 0 0 17px 25px;
}

.why_patent_w {
    padding: 15px;
}

.why_ptnt_ttl {
    font-size: 1.4rem;
    padding: 0 0 12px 0;
    line-height: 1em;
}

.why_ptnt_list li {
    font-size: 1.3rem;
    line-height: 1em;
    margin: 0 4px 7px 0;
    padding: 0 4px 0 0;
    border-right: 1px solid #d1d1d1;
    float: left;
}

.why_b1_box {
    padding: 5.5% 0 0 0;
}

.why_minien {
    text-align: center;
    font-size: 1.1rem;
    padding: 0 0 11px 0;
    line-height: 1em;
}

.why_b1b_ttlw {
    margin: 0 0 3.5% 0;
}

.why_b1b_ttl {
    display: table;
    padding: 15px 40px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin: auto;
    font-size: 2.6rem;
    line-height: 1em;
    z-index: 2;
}

.why_b2b_ttl {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.why_b1b_ttlw span {
    position: absolute;
    background: #e5e5e5;
    z-index: 1;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
}

.why_b2b_ttlw span {
    background: #ccc;
}

.why_b1b_box li {
    width: 32.666%;
    float: left;
    padding: 0 2% 0 0;
    margin: 0 2% 0 0;
    border-right: 1px solid #e5e5e5;
}

.why_b1b_box li:last-child {
    width: 30.666%;
    padding: 0;
    margin: 0;
    border: none;
}

.why_b1bb_txt {
    width: 55%;
    margin: 0 5% 0 0;
    float: right;
}

.why_b1bb_ttl {
    font-size: 2rem;
    line-height: 1em;
    margin: 0 0 18px 0;
}

.why_b1bb_img {
    width: 40%;
    margin: 0;
    float: right;
    text-align: center;
}

.why_b1bb_img img {
    max-width: 130px;
}

.why_b1b_air {
    max-width: 900px;
    margin: auto;
}

.why_b1b_air_img {
    width: 50%;
    margin: 0 0 0 5%;
    float: right;
    text-align: center;
}

.why_b1b_air_img p {
    text-align: center;
    padding: 5px 0 0 0;
}

.why_b1b_air_txt {
    width: 45%;
    margin: 0;
    float: right;
}

.why_3k_w {
    padding: 12px 0 0 0;
    background: url(../images/why_triangle.png) center top/220px no-repeat;
}

.why_3k_ttl {
    font-size: 2.8rem;
    line-height: 1.2em;
    padding: 0 0 22px 0;
    text-align: center;
}

.why_3k_txt {
    max-width: 600px;
    margin: auto;
    padding: 0;
}

.why_more {
    padding: 5% 0;
    margin: -2% 0 0 0;
}

.whymore_img {
    width: 48%;
    float: left;
    margin: 0 4% 0 0;
    height: auto;
}

.wymoreimg1 {
    background: url(../images/why_mn.jpg) center/cover no-repeat;
}

.wymoreimg2 {
    background: url(../images/why_wmn.jpg) center/cover no-repeat;
}

.whymore_txtw {
    width: 48%;
    float: left;
}

.whymore_num {
    max-width: 110px;
    width: 30%;
    padding: 0 0 25px 0;
}

.whymore_ttl {
    font-size: 2.65rem;
    line-height: 1.4em;
}

.whymore_imgttl {
    font-size: 9.5rem;
    margin: -50px 0 0 -15px;
    line-height: 1em;
}

.why_txt_box {
    margin: 21px 0 0 0;
    padding: 21px 0 0 0;
}

.why_txt_box span {
    height: 1px;
    width: 100px;
    display: block;
    top: 0;
    left: 0;
}

.whymore_txb_ttl {
    font-size: 2rem;
    line-height: 1.4em;
    padding: 0 0 15px 0;
}

.why_tx_lead {
    margin: 40px 0 0 0;
    padding: 12px 20px;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.4em;
}

.why2_img {
    max-width: 800px;
    margin: auto;
}

.whyb2b_box {
}

.whyb2b_box li {
    width: 49.5%;
    margin: 0 1% 1% 0;
    float: left;
    padding: 1.5%;
}

.whyb2b_box li:nth-child(even) {
    margin: 0 0 1% 0;
}

.whyb2bb_img1 {
    width: 30%;
    float: left;
    margin: 0 4% 0 0;
    text-align: center;
    line-height: 0;
}

.why2_imgmax {
    max-width: 100px;
    line-height: 0;
}

.whyb2bb_img2 {
    width: 100%;
    float: none;
    margin: 0 auto 15px auto;
    max-width: 400px;
}

.whyb2bb_txtw1 {
    width: 66%;
    float: left;
}

.whyb2bb_txtw2 {
    width: 100%;
    float: none;
}

.whyb2bb_txtw1 p {
    line-height: 1.55em !important;
}

/*detail*/
.det_w {
    margin: 0 0 30px 0;
    padding: 0 0 3% 0;
}

.det_ttl_w {
    background: url(../images/det_bg.jpg) center/cover no-repeat;
    padding: 3% 0 1px 0;
    margin: 0 0 2.5% 0;
}

.det_box1 {
    width: 50%;
    margin: 0 3% 0 0;
    padding: 0 3% 0 0;
    border-right: 1px solid #e5e5e5;
    float: left;
}

.det_box2 {
    width: 47%;
    margin: 0;
    padding: 0;
    float: left;
}

.det_img_3k {
    width: 40%;
    max-width: 200px;
    left: 0;
    top: 0;
    z-index: -1;
}

.det_img {
    padding: 6% 2%;
    text-align: center;
}

.det_img img {
    max-width: 250px;
}

.det_camp {
    padding: 0 0 25px 0;
}

.det_cam_ttl {
    border-bottom: 1px solid #e12632;
    line-height: 1em;
}

.det_cam_ttl span {
    font-size: 1.9rem;
    line-height: 1em;
    padding: 8px 10px;
    display: table;
}

.det_cam_price {
    font-size: 6rem;
    line-height: 1.2em;
    display: table;
    margin: auto;
    padding: 15px 0;
}

.det_cam_pr1 {
    font-size: 0.4em;
    display: inline-block;
    line-height: 0.3em;
}

.det_cam_pr2 {
    display: block;
    text-align: right;
    line-height: 1em;
    font-weight: 400;
    font-size: 0.3em;
}

.det_cam_prtx {
    display: table;
    margin: auto;
}

.det_cam_prtx li {
    font-size: 1.2rem;
    line-height: 1.3em;
    margin: 0 0 7px 0;
    text-indent: -1em;
    padding: 0 0 0 1em;
}

.det_pr_w {
    padding: 10px 15px;
}

.det_pr_ttl {
    font-size: 2.8rem;
    line-height: 50px;
    min-height: 50px;
    float: left;
}

.det_pr_ttl1 {
    font-size: 0.6em;
}

.det_pr_ttl2 {
    font-size: 0.4em;
    letter-spacing: 0em;
}

.det_pr_num {
    font-size: 4.5rem;
    line-height: 50px;
    height: 50px;
    float: right;
    text-decoration: line-through;
}

.det_btn {
    line-height: 1em;
    font-size: 1.8rem;
    text-align: center;
    margin: 20px 10%;
    width: 80%;
}

.det_btn a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 28px 14px;
    box-sizing: border-box;
}

.det_btn:hover {
    background: -moz-linear-gradient(60deg, #111, #666);
    background: -webkit-linear-gradient(60deg, #111, #666);
    background: linear-gradient(60deg, #111, #666);
}

.det_btn p {
    background: url(../images/arrow_w.png) 97% center / 8px no-repeat;
    text-align: center;
    padding: 0 12px;
}

.det_infbox {
    margin: 0;
}

.det_inf_littl {
    width: 130px;
    float: left;
    font-weight: 500;
    font-size: 2.1rem;
    line-height: 1em;
    border-bottom: 1px solid #e12632;
}

.det_inf_litxt {
    min-height: 26px;
    padding: 18px 0;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 0 0 131px;
    font-size: 1.8rem;
    line-height: 26px;
}

.det_color {
    float: left;
    height: 26px;
    width: 40px;
}

.det_colortx {
    float: left;
    height: 26px;
    line-height: 26px;
    margin: 0 30px 0 5px;
}

.det_inf_litxt_size p:first-child {
    border-left: 1px solid #e5e5e5;
}

.det_inf_litxt_size p {
    height: 26px;
    line-height: 26px;
    text-align: center;
    width: 10%;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid #e5e5e5;
}

.det_size_w {
    padding: 24px 0 10px 0;
    float: none;
    clear: both;
}

.det_sz_ttl {
    font-size: 2.1rem;
    line-height: 1em;
    padding: 0 0 15px 0;
}

.det_sz_boxhead {
    width: 180px;
    float: left;
}

.det_szin {
    min-height: 25px;
    line-height: 25px;
    padding: 15px 8px;
    box-sizing: border-box;
    text-align: center;
}

.sz_b {
    background: #111;
    color: #fff;
}

.sz_g {
    background: #e8e8e8;;
}

.sz_tx1 {
    font-size: 2rem;
    font-weight: 600;
}

.sz_tx1 span {
    font-size: 1.6rem;
}

.det_sz_list {
    margin: 0 0 0 182px;
}

.det_sz_list li {
    width: 10%;
    float: left;
    padding: 0 0 0 1px;
    box-sizing: border-box;
}

.det_how_w {
    padding: 1.5% 2%;
}

.det_how_ttlw {
    width: 31%;
    margin: 0 3% 0 0;
    float: left;
}

.det_how_txtw {
    width: 66%;
    margin: 0;
    float: left;
}

.det_how_ttl {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.4em;
}

.det_how_ttl span {
    font-size: 0.6em;
    font-weight: 400;
    display: block;
    padding: 10px 0 0 0;
    line-height: 1em;
}

.det_how_txtb {
    width: 32px;
    float: left;
    font-size: 3.2rem;
    line-height: 1em;
}

.det_how_tx {
    margin: 0 0 0 35px;
    font-size: 1.7rem;
    line-height: 1.6em;
    padding: 6px 0 0 0;
}

.det_how_txtbx {
    padding: 8px 0;
}

/*company*/
.comp_w {
    padding: 3% 0;
}

.cmp_ttl {
    font-size: 3rem;
    line-height: 1em;
    display: table;
    margin: 0 auto 40px auto;
    border-bottom: 1px solid #fff;
    padding: 0 0 15px 0;
}

.cmp_ttl span {
    display: block;
    text-align: center;
    line-height: 1em;
    font-size: 1.3rem;
    padding: 11px 0 0 0;
}

.cmp_prf_w {
    display: table;
    margin: auto;
}

.cmp_logo {
    width: 110px;
    float: left;
}

.cmp_info {
    margin: 0 0 0 130px;
}

.cmp_name {
    font-size: 2rem;
    line-height: 1em;
    padding: 0 0 5px 0;
}

.cmp_icon {
    max-width: 800px;
    border-left: 1px solid #333;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    margin: 25px auto 40px auto;
}

.cmp_icon a {
    display: block;
    height: 100%;
    width: 100%;
}

.cmp_icon li:hover {
    background: #fff;
}

.cmp_icon li {
    width: 25%;
    border-right: 1px solid #333;
    box-sizing: border-box;
    padding: 9px 5px;
    text-align: center;
    float: left;
}

.cmp_icon li img {
    max-width: 22px;
    width: 30%;
}

.cmp_notice {
    font-size: 1.8rem;
    line-height: 1.4em;
    padding: 10px 0 20px 0;
    text-align: center;
}

.cmp_ctct {
    max-width: 800px;
    margin: auto;
}

.cmp_ctct li {
    width: 100%;
    margin: 0;
    float: none;
    background: #333;
    padding: 20px 10px;
    text-align: center;
    box-sizing: border-box;
}

.cmp_ctct li:last-child {
    margin: 0;
}

.cmp_ctct p {
    min-height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0 0 0 30px;
    display: table;
    margin: auto;
}

.cmp_ctct_tel {
    font-size: 4.2rem;
    background: url(../images/ft_tel.png) left center /18px no-repeat;
}

.cmp_ctct_mail {
    font-size: 3rem;
    background: url(../images/ft_mail.png) left center /18px no-repeat;
}

/*footer*/
.footer {
    padding: 25px 0;
}

.ft_logo {
    max-width: 170px;
    float: left;
    width: 33%;
}

.copy {
    float: right;
    font-size: 1.15em;
}

/*modal*/
.remo_wrap {
}

.rem_ct_ttl {
    border: 2px solid #000;
    padding: 15px 10px;
    max-width: 320px;
    margin: 0 auto 50px auto;
    font-size: 2.4rem;
    line-height: 1em;
    text-align: center;
}

.rem_ct_w {
    max-width: 800px;
    margin: auto;
}

.rem_ct_lead {
    margin: 0 0 3% 0;
}

.rem_ct_fmbox {
    background: #ebeced;
    padding: 15px;
    font-size: 1.25rem;
    line-height: 1.25em;
    margin: 0 0 8px 0;
}

.rem_radio1 {
    width: 48%;
    margin: 0 4% 0 0;
    text-align: right;
    float: left;
}

.rem_radio2 {
    width: 48%;
    text-align: left;
    float: left;
}

.rem_fm_ttlw {
    width: 150px;
    float: left;
}

.hissu {
    background: #e12632;
}

.nini {
    background: #a8abaf;
}

.hisnin {
    width: 35px;
    text-align: center;
    font-weight: 500;
    height: 16px;
    line-height: 16px;
    float: left;
    margin: 13px 0;
    font-size: 1.1rem;
    color: #fff;
}

.rem_fm_ttl {
    margin: 0 0 0 41px;
    height: 26px;
    line-height: 26px;
    padding: 8px 0;
    font-size: 1.2rem;
}

.rem_fm_txtin {
    background: #fff;
    padding: 8px;
    margin: 0 0 0 175px;
}

.rem_fm_txt {
    min-height: 26px;
    line-height: 26px;
    font-size: 1.45rem;
    border: none;
    width: 100%;
    display: block;
}

.rem_fm_txtarea {
    min-height: 150px;
    line-height: 22px;
    font-size: 1.45rem;
    border: none;
    width: 100%;
    display: block;
    max-width: 100%;
}

.rem_fm_ordertxt {
    text-align: center;
    line-height: 1.4em;
    padding: 15px 0 10px 0;
    font-size: 1.4em;
}

.rem_fm_od_sex {
    font-size: 1.9rem;
    line-height: 1em;
    border-bottom: 1px solid #d5d5d5;
    padding: 10px 0;
}

.rem_fm_od_sex span {
    font-size: 1.4rem;
    padding: 0 0 0 10px;
    font-style: normal;
}

.rem_fm_order_lot {
    padding: 15px 0;
}

.rem_fm_order_lot li {
    width: 33.3333%;
    border-right: 1px solid #d5d5d5;
    padding: 0 10px;
    float: left;
    box-sizing: border-box;
    margin: 0 0 10px 0;
}

.rem_fm_orderttl {
    font-size: 1.35rem;
    font-weight: 500;
    width: 75px;
    float: left;
}

.rem_fm_ordernum {
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 0 0 0 85px;
    background: #fff;
}

.rem_fm_od_n_num {
    background: none;
    border: none;
    width: 100%;
}

.rem_fm_txtadrsin {
    margin: 0 0 0 175px;
}

.rem_fm_txtzip {
    width: 100px;
    display: block;
    border: none;
    padding: 12px;
    margin: 0 0 4px 0;
    font-size: 1.45rem;
}

.pay_radio_b {
    padding: 5px 0 0 0;
}

.pay_radio_b li {
    width: 31.333%;
    background: #fff;
    float: left;
    margin: 0 3% 0 0;
    box-sizing: border-box;
    padding: 10px;
}

.pay_radio_b li:last-child {
    margin: 0 !important;
}

.sbtn {
    display: block;
    font-size: 3rem;
    line-height: 1em;
    text-align: center;
    max-width: 300px;
    margin: 30px auto 10px auto;
    border: none;
    padding: 20px 40px;
    width: 100%;
}

.rbtn {
    display: block;
    font-size: 2rem;
    line-height: 1em;
    text-align: center;
    max-width: 200px;
    margin: auto;
    border: none;
    padding: 10px 40px;
    width: 100%;
}

.moda_close2 {
    margin: 30px 0 0 0;
    padding: 10px 20px;
    font-size: 1.5rem;
    border: 1px solid #e5e5e5;
}

.fm_con_logo {
    max-width: 250px;
    margin: auto;
    width: 60%;
    padding: 10% 0;
}

.fm_con_msg {
    text-align: center;
    font-size: 2rem;
    text-align: center;
    margin: 0 0 30px 0;
}

.fm_con_link {
    padding: 15px 30px;
    font-size: 1.4rem;
    text-align: center;
    display: table;
    margin: auto;
}

/*▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/

@media screen and (max-width: 1024px) {

    body {
        padding: 86px 0 0 0;
    }

    /*header*/
    .header {
        padding: 30px 0;
    }

    .smaller {
        padding: 12px 0;
    }

    .logo {
        width: 130px;
    }

    .hd_mn {
        float: left;
        padding: 5px 0;
    }

    .hd_mn li {
        padding: 0 15px 0 0;
        height: 16px;
        line-height: 16px;
        margin: 0 5px 0 0;
        font-size: 1.1rem;
    }

    .hd_mail {
        height: 26px;
        margin: 0 0 0 15px;
        padding: 0 15px;
    }

    .hd_mail p {
        line-height: 26px;
        font-size: 1.25rem;
        padding: 0 0 0 20px;
        background: url(../images/icon_mail.png) left center/12px no-repeat;
    }

    /*cont共通*/
    .cont_ttl {
        margin: 0 auto 4% auto;
        padding: 16px 0 0 0;
        font-size: 5rem;
    }

    .cont_ttl span {
        font-size: 1.5rem;
    }

    .cont_w {
        padding: 5% 0;
    }

    /*main*/
    .main_in {
        margin: 0;
    }

    .main_ttl {
        font-size: 8rem;
    }

    .main_ttl_jp {
        font-size: 1.8rem;
        background: url(../images/main_x.png) left center/ 50px no-repeat;
        padding: 25px 0 25px 60px;
    }

    .itr_logo {
        width: 35%;
        margin: 10px 6% 0 0;
        float: left;
    }

    .itrb_txt {
        width: 59%;
        float: left;
    }

    .itrb_1 {
        padding: 5%;
        width: 100% !important;
        float: none;
    }

    .itrb_bg {
        padding: 8% 4%;
        width: 50% !important;
    }

    .p3_ttl {
        font-size: 3.2rem;
    }

    .p3b_txtb {
        padding: 11% 9%;
    }

    /*lineup*/
    .lu_txtb_men {
        font-size: 1.9rem;
    }

    .lu_txtb_ttl {
        font-size: 2rem;
    }

    /*why*/
    .why_box {
        padding: 4% 3.5%;
    }

    .why_ttl {
        font-size: 4.8rem;
    }

    .why_bgttl {
        font-size: 3.2rem;
        padding: 7% 0 5% 0;
    }

    .why_b1_subttl {
        font-size: 1.7rem;
    }

    .why_b1_sublead {
        font-size: 1.35rem;
        padding: 0 0 15px 22px;
    }

    .why_b1_box {
        padding: 6.5% 0 0 0;
    }

    .why_b1b_ttl {
        font-size: 2.4rem;
    }

    .why_b1bb_txt {
        width: 100%;
        margin: 0 0 0 0;
        float: none;
    }

    .why_b1bb_img {
        width: 100%;
        margin: 0 0 30px 0;
        float: none;
    }

    .why_more {
        padding: 6% 0;
    }

    .whymore_ttl {
        font-size: 2.4rem;
    }

    .whymore_imgttl {
        font-size: 7.5rem;
        margin: -40px 0 0 -11px;
    }

    .whymore_txb_ttl {
        font-size: 1.8rem;
        padding: 0 0 12px 0;
    }

    .why_tx_lead {
        margin: 30px 0 0 0;
        padding: 10px 15px;
        text-align: center;
        font-size: 1.45rem;
    }

    /*detail*/
    .det_ttl_w {
        padding: 5% 0 5px 0;
    }

    .det_box1 {
        width: 100%;
        margin: 0 0 30px 0;
        padding: 0 0 5% 0;
        float: none;
        border-right: none;
    }

    .det_box2 {
        width: 100%;
        margin: 0;
        padding: 0;
        float: none;
    }

    .det_img {
        width: 47%;
        margin: 0 6% 0 0;
        float: left;
        box-sizing: border-box;
    }

    .det_infbox {
        width: 47%;
        float: left;
    }

    .det_cam_ttl span {
        font-size: 1.65rem;
    }

    .det_cam_price {
        font-size: 5rem;
    }

    .det_cam_prtx {
        font-size: 1.2rem;
        line-height: 1.3em;
        display: table;
        margin: auto;
    }

    .det_pr_ttl {
        font-size: 2.6rem;
        line-height: 20px;
        min-height: 20px;
        padding: 15px 0;
        float: none;
        text-align: center;
    }

    .det_pr_num {
        font-size: 4rem;
        line-height: 40px;
        height: 40px;
        float: none;
        padding: 10px 0 0 0;
        text-align: center;
        border-top: 1px solid #e12632;
    }

    .det_inf_littl {
        width: 100px;
        font-size: 1.8rem;
    }

    .det_inf_litxt {
        margin: 0 0 0 101px;
        font-size: 1.7rem;
    }

    .det_sz_boxhead {
        width: 110px;
    }

    .det_sz_list {
        margin: 0 0 0 112px;
    }

    .sz_tx1 {
        font-size: 1.75rem;
    }

    .det_sz_ttl {
        font-size: 1.8rem;
    }

    .det_how_ttl {
        font-size: 2rem;
    }

    .det_how_tx {
        font-size: 1.5rem;
        padding: 7px 0 0 0;
    }
}

/*▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/

@media screen and (max-width: 768px) {
    body {
        padding: 48px 0 0 0;
    }

    .pc {
        display: none !important;
    }

    .sp {
        display: block !important;
    }

    .in2 {
        padding: 0;
    }

    /*バーガー*/
    .burger_out {
        width: 30px;
        box-sizing: border-box;
        margin: 6px 0 0 0;
        height: 24px;
        position: absolute;
        right: 5%;
        top: 0;
    }

    .smaller .burger_out {
    }

    .burger {
        width: 100%;
        top: 0;
    }

    .burger_menu {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9998;
        padding: 40px 0 30px 0;
        left: 0;
        text-align: center;
        background: rgba(255, 255, 255, 0.9);
        box-sizing: border-box;
        top: 0;
    }

    .burger_menu li {
        line-height: 1em;
        width: 88%;
        font-size: 1.8em;
        margin: 0 6%;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        letter-spacing: 0.15em;
        font-weight: 300;
        height: 16.66666%;
        border-bottom: 1px solid #e5e5e5;
    }

    .burger_menu li a {
        text-align: center;
        width: 100%;
        display: block;
        padding: 20px 0;
    }

    .burger_menu li span {
        display: block;
        width: 100%;
    }

    .menu-trigger, .menu-trigger span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
    }

    .menu-trigger {
        top: 50%;
        z-index: 9999;
        height: 24px;
        width: 35px;
        margin: -12px 0 0 0;
    }

    .menu-trigger span {
        width: 100%;
        height: 1px;
        background-color: #000;
        border-radius: 2px;
    }

    .hd_index .menu-trigger span {
        background-color: #fff;
    }

    .menu-trigger span:nth-of-type(1) {
        top: 0;
    }

    .menu-trigger span:nth-of-type(2) {
        top: 12px;
    }

    .menu-trigger span:nth-of-type(3) {
        bottom: 0;
    }

    /*header*/
    .header {
        padding: 5px 0;
    }

    .smaller {
        padding: 10px 0;
    }

    .hd_mail {
        margin: 0 15px 0 0;
        padding: 0 20px;
    }

    /*banner*/
    .banner {
        padding: 0;
    }

    /*cont共通*/
    .cont_ttl {
        margin: 0 auto 5% auto;
        padding: 16px 0 0 0;
        font-size: 4.5rem;
    }

    .cont_w {
        padding: 6% 0 7% 0;
    }

    .conttl_w {
        border-top: 7px solid #fff;
    }

    .conttl_b {
        border-top: 7px solid #111;
    }

    /*main*/
    .main {
        background: url(../images/main_bg.jpg) 85% center/cover no-repeat;
        padding: 6% 0 14% 0;
    }

    .main_shape {
        left: -30px;
    }

    .main_item {
        max-width: 700px;
        width: 35%;
        float: none;
    }

    .main_ttl {
        float: none;
        font-size: 14vw;
        margin: -15% 0 0 0;
    }

    .main_ttl_jp {
        font-size: 1.7rem;
        background: url(../images/main_x.png) left center/ 50px no-repeat;
        padding: 15px 0 15px 60px;
    }

    .itr_w {
        margin: -10% 0 4% 0;
    }

    .itrb_ttl {
        font-size: 2.8rem;
    }

    .itrb_txt2 {
        font-size: 1.4rem;
    }

    .point3 {
        padding: 0 0 10% 0;
    }

    .p3_ttl {
        font-size: 2.8rem;
    }

    .p3_lead {
        text-align: left;
        margin: 0 0 6% 0;
    }

    .p3b_ttl {
        font-size: 1.9rem;
        margin: 0 0 15px 0;
    }

    .p3b_num {
        font-size: 5rem;
        top: -35px;
    }

    /*lineup*/
    .lu_txtb_men {
        font-size: 1.6rem;
    }

    .lu_txtb_ttl {
        font-size: 1.5rem;
    }

    /*scene*/
    .scne_box {
        border-left: none;
    }

    .scne_box li {
        border-right: none;
        border-bottom: 1px solid #e5e5e5;
        width: 100%;
        float: none;
        padding: 5% 0;
    }

    .scne_box li:last-child {
        border: none;
        padding: 4% 0 0 0;
    }

    .scne_b_ttlw {
        margin: 0;
        width: 200px;
        float: left;
    }

    .scne_b_txt {
        margin: 0 0 0 220px;
    }

    .scne_b_ttl {
        font-size: 1.6rem;
        line-height: 1em;
        margin: 0 0 20px 0;
        text-align: center;
    }

    .scne_b_ttl span {
        display: table;
        text-align: center;
        font-size: 2.8rem;
        line-height: 1em;
        padding: 0 0 8px 0;
        margin: 0 auto 8px auto;
        border-bottom: 1px solid #e12632;
    }

    .scne_b_ttl {
        margin: 0 auto;
        font-size: 1.5rem;
    }

    .scne_b_ttl span {
        font-size: 2.4rem;
    }

    /*why*/
    .why_ttl {
        font-size: 4rem;
    }

    .why_bgttl {
        font-size: 2.8rem;
    }

    .why_box {
        padding: 7% 5%;
        margin: -6px 0 3% 0;
    }

    .why_b1_main_l {
        width: 100%;
        margin: 0;
        float: none;
    }

    .why_b1_main_r {
        width: 80%;
        margin: 0 auto 30px auto;
        float: none;
        max-width: 550px;
    }

    .why_b1_subttl {
        font-size: 1.9rem;
    }

    .why_b1_sublead {
        font-size: 1.55rem;
        padding: 0 0 15px 26px;
    }

    .why_b1_box {
        padding: 8% 0 0 0;
    }

    .why_b1b_ttlw {
        margin: 0 0 4.5% 0;
    }

    .why_b1b_ttl {
        font-size: 2.3rem;
        padding: 10px 40px;
    }

    .why_b1b_box li {
        width: 100%;
        float: none;
        padding: 0 0 4% 0;
        margin: 0 0 4% 0;
        border-right: none;
        border-bottom: 1px solid #e5e5e5;
    }

    .why_b1b_box li:last-child {
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;
    }

    .why_b1bb_txt {
        width: 55%;
        margin: 0 5% 0 0;
        float: right;
    }

    .why_b1bb_img {
        width: 40%;
        margin: 0;
        float: right;
        text-align: center;
    }

    .why_3k_w {
        background: url(../images/why_triangle.png) center top/190px no-repeat;
    }

    .why_3k_ttl {
        font-size: 2.6rem;
    }

    .why_3k_txt {
        padding: 0;
    }

    .why_more {
        padding: 8% 0;
    }

    .whymore_img {
        width: 100%;
        float: left;
        margin: 0 0 30px 0;
        height: 42vw;
    }

    .whymore_txtw {
        width: 100%;
        float: none;
    }

    .whymore_num {
        padding: 0 0 15px 0;
    }

    .whyb2b_box li {
        width: 100%;
        margin: 0 0 3.5% 0;
        float: none;
        padding: 3%;
    }

    .whyb2b_box li:nth-child(even) {
        margin: 0 0 3.5% 0;
    }

    /*detail*/
    .det_ttl_w {
        padding: 6% 0 1px 0;
        margin: 0 0 3.5% 0;
    }

    .det_camp {
        padding: 0 0 15px 0;
    }

    .det_cam_ttl span {
        font-size: 1.45rem;
    }

    .det_cam_price {
        font-size: 5vw;
    }

    .det_pr_ttl {
        font-size: 2.2rem;
    }

    .det_inf_littl {
        width: 80px;
        font-size: 1.5rem;
    }

    .det_inf_litxt {
        margin: 0 0 0 81px;
        font-size: 1.6rem;
        min-height: 22px;
        line-height: 22px;
        padding: 12px 0;
    }

    .det_color {
        float: left;
        height: 22px;
        width: 30px;
    }

    .det_colortx {
        float: left;
        height: 22px;
        line-height: 22px;
        margin: 0 20px 0 5px;
    }

    .det_inf_litxt_size p {
        height: 22px;
        line-height: 22px;
        text-align: center;
        width: 10%;
        float: left;
        box-sizing: border-box;
        border-right: 1px solid #e5e5e5;
    }

    .det_sz_boxhead {
        width: 100%;
        float: none;
        margin: 0 0 5px 0;
    }

    .det_sz_list {
        margin: 0;
    }

    .det_sz_ttl {
        font-size: 1.5rem;
    }

    .det_how_w {
        padding: 4%;
    }

    .det_how_ttlw {
        width: 100%;
        margin: 0 0 20px 0;
        float: none;
    }

    .det_how_txtw {
        width: 100%;
        float: none;
    }

    /*company*/
    .comp_w {
        padding: 5% 0;
    }

    .cmp_ttl {
        font-size: 2.7rem;
    }

    .cmp_logo {
        width: 90px;
        float: left;
    }

    .cmp_info {
        margin: 0 0 0 110px;
    }

    .cmp_icon {
        margin: 25px auto;
    }

    .cmp_ctct_tel {
        font-size: 3.2rem;
    }

    .cmp_ctct_mail {
        font-size: 2.4rem;
    }

    .rem_fm_ttlw {
        width: 130px;
    }

    .rem_fm_txtin {
        margin: 0 0 0 140px;
    }

    .rem_fm_txtadrsin {
        margin: 0 0 0 140px;
    }

    .rem_fm_ttl {
        font-size: 1.1rem;
    }

    .hisnin {
        width: 25px;
        font-size: 1rem;
        font-weight: 600;
    }

    .rem_fm_ttl {
        margin: 0 0 0 30px;
    }

    .fm_con_logo {
        padding: 15% 0;
    }
}

/*▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/

@media screen and (max-width: 600px) {
    .on_pc {
        display: none;
    }

    .on_sp {
        display: block !important;
    }

    .f13 {
        font-size: 1.2rem;
    }

    .f14 {
        font-size: 1.3rem;
    }

    .f15 {
        font-size: 1.4rem;
    }

    .f16 {
        font-size: 1.5rem;
    }

    .f17 {
        font-size: 1.6rem;
    }

    .f18 {
        font-size: 1.7rem;
    }

    .f19 {
        font-size: 1.8rem;
    }

    .in {
        padding: 0 3.5%;
    }

    /*cont共通*/
    .cont_ttl {
        margin: 0 auto 10% auto;
        padding: 12px 0 0 0;
        font-size: 11vw;
    }

    .cont_ttl span {
        font-size: 1.2rem;
    }

    .cont_w {
        padding: 10% 0 10% 0;
    }

    .conttl_w {
        border-top: 5px solid #fff;
    }

    .conttl_b {
        border-top: 5px solid #111;
    }

    /*header*/
    .logo {
        width: 110px;
    }

    .hd_mail {
        padding: 0 11px;
    }

    .hd_mail p {
        padding: 0 0 0 16px;
        background: url(../images/icon_mail.png) left center/11px no-repeat;
    }

    /*main*/
    .main {
        padding: 4% 0 10% 0;
    }

    .main_shape {
        left: -60px;
    }

    .main_item {
        width: 40%;
    }

    .main_ttl_jp {
        font-size: 1.3rem;
        background: url(../images/main_x_sp.png) left center/ 40px no-repeat;
        padding: 10px 0 10px 50px;
        font-weight: 600;
    }

    .itr_logo {
        width: 100%;
        margin: 0 0 15px 0;
        float: none;
    }

    .itr_w {
        padding: 0;
        margin: -2px 0 8% 0;
    }

    .itrb_1 {
        padding: 7% 5%;
    }

    .itrb_txt {
        width: 100%;
        float: none;
    }

    .itrb_ttl {
        font-size: 5.5vw;
        margin: 0 0 10px 0;
    }

    .itrb_txt2 {
        font-size: 1.25rem;
        font-weight: 500;
    }

    .itrb_txt2 {
        font-size: 1.4rem;
    }

    .itrb_bg {
        padding: 7% 3%;
    }

    .point3 {
        padding: 0 0 12% 0;
    }

    .p3_ttl {
        font-size: 2.4rem;
    }

    .p3_box li {
        width: 100%;
        float: none;
        margin: 0 0 2% 0;
        background: #fff;
    }

    .p3b_txtb {
        padding: 9% 7% 7% 7%;
    }

    .p3b_ttl {
        font-size: 2rem;
    }

    .p3b_num {
        font-size: 7rem;
        top: -45px;
    }

    .p3b_img {
        height: 50vw;
    }

    /*lineup*/
    .lu_l, .lu_r {
        width: 100%;
        float: none;
    }

    .lu_l {
        margin: 0 0 50px 0;
        padding: 0 5%;
    }

    .lu_r {
        padding: 0 5%;
    }

    .lu_r_img_1, .lu_l_img_1 {
        height: 40vw;
    }

    .lu_txtb1, .lu_txtb2 {
        float: none;
        margin: 0;
        padding: 0;
    }

    /*scene*/
    .scne_box li {
        padding: 6% 0;
    }

    .scne_b_ttlw {
        width: 100px;
    }

    .scne_b_txt {
        margin: 0 0 0 120px;
    }

    .scne_b_ttl {
        font-size: 1.2rem;
    }

    .scne_b_ttl span {
        font-size: 1.9rem;
    }

    /*why*/
    .why_ttl {
        font-size: 8.5vw;
    }

    .why_ttl_txt {
        background: url(../images/grd_h_bg.png) center bottom/ 100% 18px no-repeat;
    }

    .why_txt800 p {
        font-size: 1.55rem !important;
    }

    .why_bgttl {
        font-size: 2.25rem;
        padding: 9% 0 7% 0;
    }

    .why_b1_subttl {
        font-size: 1.7rem;
    }

    .why_b1_sublead {
        font-size: 1.25rem;
        padding: 0 0 15px 22px;
    }

    .why_ptnt_ttl {
        font-size: 1.3rem;
    }

    .why_ptnt_list li {
        font-size: 1.15rem;
    }

    .why_b1_box {
        padding: 11% 0 0 0;
    }

    .why_b1b_ttlw {
        margin: 0 0 7% 0;
    }

    .why_b1b_ttl {
        font-size: 2.1rem;
        padding: 10px 20px;
    }

    .why_b1b_box li {
        padding: 0 0 8% 0;
        margin: 0 0 8% 0;
    }

    .why_b1bb_ttl {
        font-size: 1.7rem;
        line-height: 1.3em;
        margin: 0 0 10px 0;
    }

    .why_b1b_air_img {
        width: 100%;
        margin: 0 0 15px 0;
        float: none;
        text-align: center;
    }

    .why_b1b_air_img img {
        max-width: 250px;
    }

    .why_b1b_air_img p {
        text-align: left;
    }

    .why_b1b_air_txt {
        width: 100%;
        float: none;
    }

    .why_more {
        padding: 10% 0;
    }

    .whymore_imgttl {
        font-size: 5.5rem;
        margin: -30px 0 0 -11px;
    }

    .whymore_ttl {
        font-size: 2.1rem;
    }

    .whymore_txb_ttl {
        font-size: 1.65rem;
        padding: 0 0 12px 0;
    }

    .whyb2bb_img1 {
        width: 100%;
        float: none;
        margin: 0 0 10px 0;
    }

    .whyb2bb_img2 {
        margin: 0 auto 10px auto;
        max-width: 400px;
    }

    .whyb2bb_txtw1 {
        width: 100%;
        float: none;
    }

    .whyb2b_box li {
        padding: 4%;
    }

    /*detail*/
    .det_ttl_w {
        padding: 9% 0 1px 0;
        margin: 0 0 5% 0;
    }

    .det_img {
        width: 100%;
        margin: 0;
        float: none;
        text-align: center;
    }

    .det_img_3k img {
        width: 100% !important;
    }

    .det_img img {
        max-width: 180px;
        width: 70%;
    }

    .det_infbox {
        width: 100%;
        float: none;
    }

    .det_cam_price {
        font-size: 11vw;
    }

    .det_cam_ttl span {
        font-size: 1.7rem;
    }

    .det_inf_littl {
        width: 64px;
        font-size: 1.25rem;
    }

    .det_inf_litxt {
        margin: 0 0 0 65px;
        font-size: 1.4rem;
    }

    .det_sz_list li {
        width: 20%;
        padding: 0 0 0 1px;
        margin: 0 0 8px 0;
    }

    .det_szin {
        min-height: 20px;
        line-height: 20px;
        padding: 13px 5px;
    }

    .det_sz_ttl {
        font-size: 1.25rem;
    }

    .det_how_w {
        padding: 6% 4.5%;
    }

    /*company*/
    .comp_w {
        padding: 8% 0;
    }

    .cmp_ttl {
        font-size: 2.4rem;
    }

    .cmp_logo {
        width: 100px;
        float: none;
        margin: auto;
        padding: 0 0 15px 0;
    }

    .cmp_info {
        margin: 0 auto;
        text-align: center;
    }

    .cmp_notice {
        font-size: 1.65rem;
    }

    .cmp_icon {
        margin: 15px auto;
    }

    .cmp_ctct li {
        width: 100%;
        margin: 0 0 5px 0;
        float: none;
        padding: 15px 10px;
    }

    /*footer*/
    .footer {
        padding: 15px 0;
    }

    /*ctct*/
    .rem_ct_ttl {
        padding: 15px 10px;
        margin: 50px auto 30px auto;
        font-size: 2rem;
    }

    .rem_fm_ttlw {
        width: 100%;
        float: none;
        margin: 0 0 5px 0;
    }

    .rem_fm_txtin {
        margin: 0;
        clear: both
    }

    .rem_fm_txtadrsin {
        margin: 0;
        clear: both;
    }

    .rem_ct_fmbox {
        padding: 9px;
    }

    .hisnin {
        float: left;
        margin: 4px 0;
    }

    .rem_fm_ttl {
        height: 20px;
        line-height: 20px;
        padding: 2px 0;
    }

    .rem_fm_order_lot li {
        width: 50%;
    }

    .rem_fm_orderttl {
        font-size: 1.15rem;
        width: 55px;
    }

    .rem_fm_ordernum {
        padding: 5px;
        margin: 0 0 0 60px;
    }

    .rem_fm_txtin {
        padding: 4px 8px;
    }

    .rem_fm_txt {
        min-height: 22px;
        line-height: 22px;
    }

    .rem_fm_txtzip {
        padding: 5px 8px;
    }

    .pay_radio_b li {
        width: 100%;
        margin: 0 0 1px 0;
        padding: 10px;
    }

    .fm_con_logo {
        padding: 20% 0;
    }

    .fm_con_msg {
        font-size: 1.7rem;
    }
}
